@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "BigShoulders";
  src: url("../assets/fonts/BigShouldersStencilDisplay-VariableFont_wght.ttf")
    format("truetype");
}

@font-face {
  font-family: "BigShouldersText";
  src: url("../assets/fonts/BigShouldersText-VariableFont_wght.ttf")
    format("truetype");
}

/* /// K2D */
@font-face {
  font-family: "K2D";
  src: url("../assets/fonts/K2D/K2D-Thin.ttf") format("truetype");
  font-weight: 100;
}

@font-face {
  font-family: "K2D";
  src: url("../assets/fonts/K2D/K2D-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "K2D";
  src: url("../assets/fonts/K2D/K2D-ExtraLight.ttf") format("truetype");
  font-weight: 200;
}

@font-face {
  font-family: "K2D";
  src: url("../assets/fonts/K2D/K2D-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "K2D";
  src: url("../assets/fonts/K2D/K2D-Light.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "K2D";
  src: url("../assets/fonts/K2D/K2D-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "K2D";
  src: url("../assets/fonts/K2D/K2D-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "K2D";
  src: url("../assets/fonts/K2D/K2D-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "K2D";
  src: url("../assets/fonts/K2D/K2D-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "K2D";
  src: url("../assets/fonts/K2D/K2D-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "K2D";
  src: url("../assets/fonts/K2D/K2D-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "K2D";
  src: url("../assets/fonts/K2D/K2D-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "K2D";
  src: url("../assets/fonts/K2D/K2D-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "K2D";
  src: url("../assets/fonts/K2D/K2D-ExtraBold.ttf") format("truetype");
  font-weight: 800;
}

@font-face {
  font-family: "K2D";
  src: url("../assets/fonts/K2D/K2D-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}

body {
  @apply bg-red_d overflow-x-hidden overscroll-none;
}

* {
  font-family: K2D, Helvetica, sans-serif;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

*::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.text-body {
  @apply leading-tight font-thin text-xl md:text-[2vw] lg:text-[1.7vw] xl:text-[1.6vw];
}

.text-head {
  @apply leading-tight text-xl sm:text-[2.8vw] md:text-[2.5vw];
}

.section-heading div {
  @apply font-[BigShoulders] text-[10vw] sm:text-[6vw] leading-none font-extrabold;
}
